body {
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a192f;
    color: white;
    max-width: 100%;
    
}

header {
    display: flex;
    height: 70px;
    position: relative;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    
}

nav {
    color:#ccd6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    z-index: 12;
    width: 100%;
    height: auto;
}
.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.typing-effect {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;
    animation: typing 6s steps(24, end),
    blink .5s infinite step-end alternate;
    overflow: hidden
}

@keyframes typing {
     from {
        width: 0;
    }
}
@keyframes blink {
    50% {border-color: transparent}
}

main.main-page {
    padding: 0px 150px;
}



.social-links {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    color: #8892b0;
    z-index: 10;
}    

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
}

.lista-desordenada-social li a svg {
    width: 20px;
    height: 20px;
    color:#8892b0;
    
}

.lista-desordenada-social li a {
    padding: 10px;
}

.lista-desordenada-social {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.lista-desordenada-social::after {
    content: "";
display: block;
width: 1px;
height: 90px;
margin: 0px auto;
background-color: #8892b0;
}

/* lado derecho email */

.email-link {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    color: #8892b0;
    z-index: 10;
    letter-spacing: 0.2em;
}  
.email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8892b0;
}

.email a {
    margin: 20px auto;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
main {
    margin: 0px auto;
    /* width: 100%; */
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 150px;
}


.inicio {
    margin-top: -60px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
    position: relative;
    z-index: 1;
}

/*  nav derecho */

nav ul {
    list-style-type: none;
    display: flex;
    margin:0;
}

.enlaces-nav-one::before {
    content: "01.";
    color:#64ffda
}
.enlaces-nav-two::before {
    content: "02.";
    color:#64ffda
}
.enlaces-nav-three::before {
    content: "03.";
    color:#64ffda
}
.enlaces-nav-four::before {
    content: "04.";
    color:#64ffda
}

nav li {
    margin-right: 24px;
}

nav a {
    text-decoration: none;
    color: #ccd6f6;
    font-size: 12px

}

.botton-resumen {
    padding: 10px 14px;
    color:#64ffda;
    border: 1px solid #64ffda ;
    border-radius: 4px;
    display: flex;

}

/* primer section */

.h2-welcome{
    font-size: medium;
}
.h3-name {
    font-size: 80px;
    font-family: 'PT Sans', sans-serif;
    color: #ccd6f6;
    margin: 0;
    letter-spacing: 0.05em;
}

.p-fullstack {
    font-size: 80px;
    font-family: 'PT Sans', sans-serif;
    color: #8892b0;
    margin: 0;
}

.p-softdev {
    color : #8892b0;
}

.second-container {
    max-width: 800px;
    margin: 0 auto;
}




/* segundo section */

.about-me {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 900px;
}

.aboutme-title{
    color: #ccd6f6;
}
.aboutme-title::before {
    content: "01.";
    color:#64ffda;
    margin-right:6px
}

.inner {
     display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}


.p-aboutme {
    color:#8892b0;
}






section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

h2, h3 {
    color: #64ffda;
}

article {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

footer {
    color: #fff;
    text-align: center;
    
    bottom: 0;
    width: 100%;
}